@model CreateUserViewModel
@{
    ViewData["Title"] = "CreateUser";
}

<div class="card col-md-8 offset-md-2">
    <form asp-action="CreateUser" asp-controller="Home" method="post">
        <!-- Поле для ввода имени -->
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Имя</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Поле для ввода возраста -->
        <div class="mb-3">
            <label asp-for="Age" class="form-label">Возраст</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <!-- Кнопка отправки -->
        <div class="text-right">
            <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
    </form>
</div>
