@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LESSON 2 DATA</h1>
</div>
<hr size="3" color="black"/>
<div>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="PrintValue"> First </a>
        <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="PrintValueCollection"> Second </a>
        <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="Calculate"> Third </a>
        <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="CreateUser"> Fourth </a>
        <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="GetAllUsers"> Fifth </a>
        <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="Calculate"> Sixth </a>
    </nav>
</div>
