@model IEnumerable<User>
@{
    ViewData["Title"] = "PrintValueCollection";
}

<link rel="stylesheet" href="~/css/card.css" />
<h1 class="text-center" >PrintValueCollection</h1>

<div class="card">
    @foreach(var item in Model)
    {
        <p class="card_text">Имя: @item.Name | <br /> Возраст: @item.Age</p>
    }
</div>
